<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang</title>
</head>
<body>
    <header>
        <h1>Selamat Datang di Tugas PWEB</h1>
    </header>
    <main>
        <p>Selamat datang di halaman tugas PWEB Anda. Semoga Anda menikmati pembelajaran!</p>
        <div class="2button">
            <button onclick="window.location.href = '/profile';">Lihat Profile</button>
            <button onclick="window.location.href = '/ubahpassword';">Ubah Password</button>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Tugas PWEB</p>
    </footer>
</body>
</html>
